<div class="panel-body" style="width:880px;margin-left:170px;">
	<div class="panel panel-white">
		<div class="panel-body">
			<div class="panel-scroll height-200 ps-container">
				<!-- content -->
				<p>Estimado {{ usuario }},</p>
				<p>El resultado del an&aacute;lisis para <b>{{ unidad }}</b>, se presentan en el archivo adjunto.</p>
				<<br>
				<table>
                    <tr>
                        <th style="width:120px">Tipo taller:</th>
                        <td>{{ tipo_taller }}</td>
					</tr>
                    <tr>
                        <th style="width:120px">Fecha taller:</th>
                        <td>{{ fecha_taller }}</td>
					</tr>
                    <tr>
                        <th style="width:120px">Sede:</th>
                        <td>{{ sede }}</td>
					</tr>
				</table><br>
				<p>Atentamente:<br>CACEI: Consejo de Acreditaci&oacute;n de la Enseñanza de la Ingenier&iacute;a, A. C.</p>
				<img alt="CACEI A. C." src="http://cacei.org.mx/images/Nuevo/LogoCACEI.png"/>
				<!-- /content -->
			</div>
		</div>
	</div>
</div>
