{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% block title %}CACEI&copy; Encuestas{% endblock %}
{% block div-page-header %}<h1>Aviso de privacidad</h1>{% endblock div-page-header %}
{% block content %}
    <div class="jumbotron">
        <p class="lead">
            En cumplimiento a lo dispuesto por los artículos 15 y 16 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares. El Consejo de Acreditación de la Enseñanza de la Ingeniería, A.C., hace de su conocimiento la política de privacidad y manejo de datos personales, en la que en todo momento buscará que el tratamiento de los mismos sea legítima, controlado e informado, a efecto de garantizar la privacidad y el derecho a la autodeterminación informativa de sus datos.  <a href="http://cacei.org.mx/images/docs/AVISO_PRIVACIDAD_CACEI.pdf" target="_blank">Clic aquí para ver Texto completo</a>
        </p>
    </div>
{% endblock %}
